/* Efeito de cursor piscante para o typewriter */
.typewriter-cursor {
    animation: blink 1s infinite;
    font-weight: bold;
    color: #5B228D;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}
