/* Efeito de cursor piscante para o typewriter */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.typewriter-cursor {
    animation: blink 1s infinite;
    font-weight: bold;
    color: #5B228D;
    font-family: "Open Sans", sans-serif;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}
