@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
  font-family: 'Campton';
  src: url('../fontes/CamptonBlack.otf') format('opentype');
  font-weight: 900; /* porque é 'Black' */
  font-style: normal;
}
ul{
    font-family: 'Open Sans', sans-serif;
}