@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

.btn{
    background-color: #FF5A1F;
    color: white;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-Size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}
.btn :hover{
    background-color: #d64e1c;

}

